@import '../../../../../assets/styles/variables';

header {
  span {
    font-size: 18px;
  }
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  margin: 20px 10px 0 10px;
  .fields-col {
    .form-field {
      position: relative;
      margin-bottom: 15px;
      label {
        margin-bottom: 4px;
        color: $label-color;
        display: block;
        font-size: 14px;
        span {
          color: $require-color;
        }
      }
      input {
        width: 300px;
        height: 25px;
        border-radius: 2px;
        border: 1px solid $input-color;
      }
      .error-field {
        position: absolute;
        color: $require-color;
        font-size: 12px;
        right: 0;
      }
    }

    .checkbox-label {
      color: $label-color;
      font-size: 14px;
    }
  }

  .fields-col:first-child {
    border-right: 0.4px solid $label-color;
    padding: 10px 15px 10px 0;
  }
  .fields-col:last-child {
    padding: 10px 0 10px 15px;
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  .primary-button {
    padding: 14px 25px;
    background-color: #429CD5;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 25px;
    cursor: pointer;
  }
  span {
    cursor: pointer;
  };
}

.description {
  font-size: 12px;
  color: $label-color;
}
