body {
  margin: 0;
  font-family: 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F2F5;
  padding: 10px 20%;
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
